<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a la calculadora de comisiones ABC</title>
</head>
<body>
<form action="/comision" method= "POST">
     <p>Bienvenido a la calculadora de comisiones ABC</p>
     <p> Ingrese el nombre vendedor:</p>
     <p><input type="text", name="nombre"/></p>
     <p> Ingrese las Ventas mensuales</p>
     <p><input type="text", name="ventas"/></p>
     <p><input type="submit", name="calcular", value="Calcular"/></p>
</form>

</body>
</html>